*{
    font-family: sans-serif;
}
body{
    background: #283048;
    background: linear-gradient(to right,#859398,#283048);
}

.container{
    background-color: #100f0f;
    margin: 50px auto;
    height: auto;
    width: 350px;
    border: 1px solid black;
}
.title{
    color: white;
}
.container-listaTareas{
    text-align: center;
    margin: 15px auto;
}
.tarea{
    height: 25px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.btn-agregar{
    width: 250px;
    height: 40px;
    background-color: rgb(47, 158, 255);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px 0 30px 0;
}

.alerta-tarea-pendiente{
    border-radius: 5px;
    height: 40px;
    margin: 0 20px;
    margin-top: 10px;
    background-color: #0f3d3e;
    color: black;
    font-weight: 600;
}

.alerta-tarea-realizada{
    border-radius: 5px;
    height: 40px;
    margin: 0 20px;
    margin-top: 10px;
    background-color: #e2dcc8;
    color: black;
    font-weight: 600;
}

.nombre-tarea{
    margin: 10px 0px 0px 10px;
    float: left;
}

.icons{
    margin: 10px 10px 0 0;
    float: right;
    cursor: pointer;
}


.fa-circle-check{
    color: #5a8f7b;
}
.fa-circle-minus{
    color: #ffea11;
}
.fa-arrow-rotate-right{
    color: #283048;
}